
<a class="btn btn-info" asp-controller="Role" asp-action="Index">Role Editor</a>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Role</th>
            <th scope="col">Quests</th>
            <th scope="col">Orders</th>
            <th scope="col">Experience</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var keyValuePair in Model)
        {
            <tr>
                <th scope="row">@keyValuePair.Key.Email</th>
                <td>@keyValuePair.Value</td>
                <td>@keyValuePair.Key.Orders</td>
                <td>@keyValuePair.Key.Quests</td>
                <td>@keyValuePair.Key.UserPoints</td>
            </tr>
        }

    </tbody>
</table>